<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <div class="wrapper">
        <div class="content">
          <h2 class="title">Messages</h2>

          <% if(locals.currentUser) { %>
            <a href="/message/new" class="new-message-link">New Message</a>
          <% } %>

          <% if(messages.length > 0){  %>
              <div class="messages-container">
                <% messages.map(message => { %>
                    <div class="message">
                      <h3 class="message-title"><%= message.title %></h3>

                      <p class="message-body"><%= message.message %></p>

                      <div class="message-info">
                        <% if(locals.currentUser?.is_member === true){ %>
                          <!-- TODO: update db query to perform a join on the accounts table to get the username  -->
                          <!-- TODO: update db query to perform a join on the accounts table to get the username  -->
                          <!-- TODO: update db query to perform a join on the accounts table to get the username  -->
                          <p class="user">message-author</p>
                        <% } else { %>
                          <p class="user">Unknown User</p>
                        <% } %>
                        <p class="message-date"><%= message.formatted_date %></p>
                      </div>
                    </div>
                <% }) %>
              </div>
            <% }else { %>
              <h3 class="empty-message">There are currently no messages to display.</h3>
            <% } %>
          </div>
      </div>
    </main>
  </body>
</html>
