<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/sign-up.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <div class="wrapper">
        <%- include("./partials/form-errors.ejs") %>

        <form action="/sign-up" method="POST">
          <h2 class="form-heading">Sign Up</h2>

          <div class="form-field">
            <label for="first-name">First Name:</label>
            <input
              type="text"
              id="first-name"
              name="first_name"
              minlength="1"
              maxlength="51"
              required
              value="<%= locals.prevFirstName %>"
            />
          </div>

          <div class="form-field">
            <label for="last-name">Last Name:</label>
            <input
              type="text"
              id="last-name"
              name="last_name"
              minlength="1"
              maxlength="51"
              required
              value="<%= locals.prevLastName %>"
            />
          </div>

          <div class="form-field">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              minlength="1"
              maxlength="51"
              required
              value="<%= locals.prevUsername %>"
            />
          </div>
          <!--
          <div class="form-field">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              minlength="10"
              maxlength="25"
              required
            />
          </div>

          <div class="form-field">
            <label for="confirm-password">Confirm Password:</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm_password"
              minlength="10"
              maxlength="25"
              required
            />
          </div>
-->
          <div class="btn-container">
            <button class="submit-btn" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
